extends ../layout

block content
    .container-fluid
        .row
            .col
                br
                a.btn.btn-primary(href='/usuarios/create') Crear Usuario
                br
                br
                table.table
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Nombre
                            th(scope='col') Email
                            th(scope='col') Verificado
                            th(scope='col')
                            th(scope='col')
                    tbody
                        each usuario in usuarios
                            tr
                                td(scope='row')
                                    = usuario.id
                                td= usuario.nombre
                                td= usuario.email
                                td= usuario.verificado ? 'SI' : 'NO'
                                td
                                    a.float-left.btn.btn-primary(href='/usuarios/'+usuario.id+'/update') Editar
                                td
                                    form.float-left(method='post' action="/usuarios/" + usuario.id + "/delete")
                                        input(type="hidden" name='id' value=usuario.id)
                                        button.btn.btn-primary(type='submit') Borrar