extends ../layout

block content

    .container
      .row
        .col
            br
            a(href='/bicicletas') Volver

            br
            h1  Editar Usuario
            br
    

            form(action=`/usuarios/${usuario.id}/update` method='post')
                .form-group
                    label(for='nombre') Nombre:
                    input#nombre.form-control(type='text' name='nombre' value=usuario.nombre class= errors.nombre ? 'is-invalid' : '')
                    if errors.nombre
                        small#nombreHelp.text-danger
                            = errors.nombre.message

                    br
                    button.btn.btn-primary(type='submit') Submit
