extends ../layout

block content

    .container
      .row
        .col
            br
            a(href='/bicicletas') Volver

            br
            h1  Nueva Bicicleta
            br
            
            form(action='/bicicletas/create' method='post')
                .form-group
                    label(for='id') #Id
                    input#id.form-control(type='text' name='id')    
                .form-group
                    label(for='color') Color
                    input#color.form-control(type='text' name='color')    
                    .form-group
                    label(for='modelo') Modelo
                    input#modelo.form-control(type='text' name='modelo')    
                    .form-group
                    label(for='ubicacionlat') Ubicacion [latitud]
                    input#ubicacionlat.form-control(type='text' name='ubicacionlat')    
                    label(for='ubicacionlng') Ubicacion [longitud]
                    input#ubicacionlng.form-control(type='text' name='ubicacionlng')    
                    br
                    button.btn.btn-primary(type='submit') Submit