extends ../layout

block content
    .container-fluid
        .row
            .col
                br
                a.btn.btn-primary(href='/bicicletas/create') Crear Bicicleta
                br
                br
                table.table
                    thead  
                        tr
                            th(scope='col') #
                            th(scope='col') Color
                            th(scope='col') Modelo
                            th(scope='col') Ubicacion
                            th(scope='col') 
                    tbody   
                        each bici in bicis
                            tr
                                th(scope='row')= bici.id
                                td= bici.color
                                td= bici.modelo
                                td= bici.ubicacion
                                td
                                    a.float-left.btn.btn-primary(href='/bicicletas/'+bici.code+'/update') Editar
                                td
                                    form.float-left(method='post' action="/bicicletas/" + bici.code + "/delete")
                                        input(type='hidden' value=bici.code name='code')
                                        button.btn.btn-primary(type='submit') Borrar
