extends ../layout

block content
    .container
        .row
            .col
                br
                a(href='/bicicletas') Volver

                br
                h1  Editar Bicicleta
                br
                form(action='/bicicletas/'+bici.code+'/update' method='post')
                    .form-group
                        label(for='code') Code
                        input#id.form-control(type='text' name='code' value=bici.code)    
                    .form-group
                        label(for='color') Color
                        input#color.form-control(type='text' name='color' value=bici.color)    
                        .form-group
                        label(for='modelo') Modelo
                        input#modelo.form-control(type='text' name='modelo' value=bici.modelo)    
                        .form-group
                        label(for='ubicacionlat') Ubicacion [latitud]
                        input#ubicacionlat.form-control(type='text' name='ubicacionlat' value=bici.ubicacion[0])    
                        label(for='ubicacionlng') Ubicacion [longitud]
                        input#ubicacionlng.form-control(type='text' name='ubicacionlng' value=bici.ubicacion[1])    
                        br
                        button.btn.btn-primary(type='submit') Submit
